/*------------------------------------*
  MAIN
*------------------------------------*/
html {
  background: #333;
  color: #fff;
  font-size: 48px;
}

/* FONT SIZE RESPONSIVENESS */
@media (max-width: 650px) {
  html {
    font-size: 32px;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 32px;
  }
}


/* FONT MODIFIERS */
.sans {
  font-family: sans-serif; /* serve machine's default sans face */
}
.cambria {
  font-family: Cambria, Georgia, "Times New Roman", Times, serif;
}

/* COLOR BOX */
.flex {
  display:flex;
  flex-flow: row wrap;
}
.flex__colorbox {
  flex: 1 100%;
  padding: 2rem;
}
.flex__colorbox--red {
  background:red;
}
.flex__colorbox--blue {
  background:blue;
}
@media (min-width: 1000px) {
  .flex {
    flex-flow: row nowrap;
  }
  .flex__colorbox {
    flex: 1 50%;
  }
}

/* TEXT ELEMENTS */
h2 {
  text-align:center;
  margin:0;
}
p {
  font-size: 0.5rem;
  text-align: justify;
  font-weight:lighter;
}

