/*line length measurer*/
.llm {
  display:block;
  font-size:15px;
}
.llm__input {
  width: 100%;
  text-align: center;
  box-sizing:border-box;
  border:0;
  padding: 15px;
  font-size: 15px;
}
.llm__input:focus {
  outline: none;
}
.llm__output {
  display:block;
  width:100%;
  box-sizing:border-box;
  text-align: center;
  padding: 15px;
  padding-top: 0;
  font-size: 15px;
  color:grey;
  background:white;
}

/*screen dimensions*/
.sdim {
  position:absolute;
  top:0;
  left:0;
  display:inline-block;
  font-size: 20px;
  background:rgba(0,0,0,0.5);
}